run = "npm run dev -- --hostname 0.0.0.0 --port 3002"
modules = ["nodejs-20", "python-3.11"]

[nix]
packages = ["iproute2", "sqlite", "tesseract4"]

[workflows]
runButton = "Project"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3002
externalPort = 3002
